<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8" />
<title>produits</title>
<link  rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" 
	th:href="@{css/bootstrap.min.css}" />
<link  rel="stylesheet" type="text/css" href="../static/css/style.css" 
	th:href="@{css/style.css}" />

</head>
<body>
<th:block layout:fragment="content">
	
	<div class="container spacer">
		<form th:action="@{/employees}" method="get">
			<label>Mot Clé :</label>
			<input type="text" name="mc"/>
			<button class="btn btn-primary">Chercher</button>

		</form>
	</div>
	<div class="container" >

		<h3>Liste des employées</h3>
		<div class="nav navbar-nav navbar-right">
			<a class="btn btn-info btn-md" th:href="@{/form}">Ajouter Nouveau</a>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Nom</th><th>Prenom</th><th>Adresse</th><th>Email</th><th>Hire_date</th><th>Depart</th>
					<th></th><th></th><th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p:${listes}">
					<td th:text="${p.nom}"></td><td th:text="${p.prenom}"></td>
					<td th:text="${p.adresse}"></td><td th:text="${p.email}"></td>
					<td th:text="${p.hire_date}"></td>
					<td th:text="${p.depart} ? '${p.depart}' : 'NON'"></td>
					<td><a class="btn btn-success btn-md" th:href="@{/detail(id=${p.id})}">detail</a></td>
					<td><a class="btn btn-info btn-md" th:href="@{/edit(id=${p.id})}">edit</a></td>
					<td><a class="btn btn-danger btn-md" onclick="return confirm('etes vous sur de supprimer ?')" th:href="@{/delete(id=${p.id},page=${pageCourante},size=${size},mc=${mc})}">Licencier</a></td>
				</tr>
			</tbody>
			
		</table>
	</div>
	<div class="container">
		<ul class="nav nav-pills">
			<li th:class="${pageCourante}==${status.index}? 'active' :''" th:each="pa,status:${pages}">
								<a  th:href="@{/employees(page=${status.index},size=${size},mc=${mc})}" th:text="${status.index}"></a>
			</li>
		</ul>
	</div>
</th:block>

</body>
</html>